<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cookandroid.myapplication">

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB6V42Q3_7SF1izFDzCXdlkwkhVmlV401M" />
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name=".login.Loding"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.LoginPage"/>
        <activity android:name=".News.NewsActivity"/>
        <activity android:name=".News.Detailed"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".NFC.NfcReceive"/>
        <activity android:name=".NFC.NfcSend"/>
        <activity android:name=".Option"/>
        <activity android:name=".PasswordChange"/>
        <activity android:name=".join.RegisterTerms"/>
        <activity android:name=".join.Register"/>
        <activity android:name=".join.RegisterSuccess"/>
        <activity android:name=".join.RegisterSelect"/>
        <activity android:name=".join.BossRegister.BossRegister"/>
        <activity android:name=".Gps.SubActivity"
            android:launchMode="singleTask"/>

       <service android:name=".Giofencing.GpsService">

        </service>
    </application>

</manifest>